/'Pre-Charge Controller'/*.PrjPcbStructure
/'Pre-Charge Controller'/'Project Logs for PCB_Project'/
/'Pre-Charge Controller'/'Project Logs for PreCharge'/
/'Pre-Charge Controller'/'Project Outputs for PCB_Project'/
/'Pre-Charge Controller'/History/
/'Pre-Charge Controller'/__Previews/
/'Pre-Charge Controller'/*.Dat